
.result-section {
	font-family:"Hanken Grotesk", sans-serif ;
	color: #fff;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--Light-slate-blue  );
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	
}
.result{
	margin-bottom: 0;
}
.show-result{
	font-weight: bold;
	text-align: center;
	border: solid 1px black;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	padding:  20px 10px 0 10px ;
	font-size: 30px;
	background-color: var(--Violet-blue );
	margin: 20px 0;

}
.show-result span{
	display: block;
	margin-top: px;
	font-size: 18px;
	margin-top :5px ;
	opacity: .5;
	font-weight: 500;
}
.desc{
	max-width: 300px;
	text-align: center;
}
.desc h3{
	font-size: 20px;
	margin: 0;

}
